{% extends 'layout.html' %}
{% load static %}
{% block style %}{% static 'css/detail.css' %}{% endblock %}
{% block content %}
    <article>
        <h2>게시물 조회</h2>
        <table>
            <tr>
                <td style="font-size:25px;">제목 : {{ post.subject }}</td>
            </tr>
            <tr>
                <td>작성자 :{{ post.last_name }}{{ post.first_name }}</td>
                <td>작성일 : {{ post.date|date:'Y-m-d H:i' }}</td>
            </tr>
        </table>
        <pre>{{ post.content }}</pre>
        <hr>

        <h4>댓글</h4>
        <ul class="comment">
            {% for comment in comments %}
                <li>
                    {{ comment.last_name }}{{ comment.first_name }} &nbsp;/
                    {{ comment.content }}&nbsp; /
                    {{ comment.date|date:'Y-m-d H:i' }} &nbsp;
                    {% if comment.writer == request.user.id %} /
                        <form action="{% url 'post:comment_delete' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="idx" value="{{ comment.idx }}">
                            <input type="hidden" name="bidx" value="{{ post.idx }}">
                            <button type="submt" class="btn-small" >삭제</button>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% if user.is_authenticated %}
            <hr>
            <h4>댓글 작성</h4>
            <div>
                <form action="{% url 'post:comment_create' post.idx %}" method="POST" id="delete-form">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        {{ field }}
                    {% endfor %}
                    <button class="btn custom-btn">댓글 작성</button>
                </form>
            </div>
            <div class="btns">
                {% if request.user.id == post.writer %}
                    <a href="{% url 'post:index' %}">
                        <button class="btn">목록</button>
                    </a>
                    <form action="{% url 'post:post_delete' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="idx" value="{{ post.idx }}"></input>
                        <button class="btn">삭제</button>
                    </form>
                    <a href="{% url 'post:post_update' post.idx %}">
                        <button class="btn">수정</button>
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </article>
{% endblock %}
